// footer styles

// Mixins

@mixin placeholderModify($property: color, $value: #000) {
  &.placeholder {
    #{$property}: $value;
  }
  &::-webkit-input-placeholder {
    #{$property}: $value;
  }
  &:-moz-placeholder {
    #{$property}: $value;
  }
  &:-ms-input-placeholder {
    #{$property}: $value;
  }
}

//
// Defaults
// 

footer#bodyFooter {
  min-height: 150px; 
  background-color: $bill-rapp-blue; 
}
footer {
  p, h1, h2, h3, h4, h5, h6 {
    color: #ccc;
  }
}
footer {
  color: #ccc;
  font-size: smaller;
  clear:both;
  ul {
    list-style-type: none;
  }
}
footer a, footer a:visited {
  color: #fff;
}
footer img {
  margin: 1.5em; 
  float:left;
}
footer p {
  margin-top: 1.5em; 
  margin-right: 1.5em; 
  margin-left: 1em;
}
// row advertising upcoming issues
footer .footerTeaser {
  padding-top: 2em;
  //padding-bottom: 2em;
}

// footer navigation links
footer .footerNav {
  .get-involved {
    padding-bottom: 1em;
    h3 {
      text-align: center;
      width:100%;
      margin: 0 auto;
    }
    button {background-color: $info-color; width: 100%;}
  }
  .footer-form {
    padding-top: 1em;
    #footer-email {
      @include placeholderModify('color', transparentize($bill-rapp-blue, 0.3));
      @include placeholderModify('font-size', 120%);
    }
    #footer-email-button {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
    button {
      margin: 0 auto;
      background-color: $secondary-color;
    }
  }
  // background-color:red;
}
// MC logo and blurb
footer .footerLogo {
}
footer label {
  color: #eee;
  font-size: 1.2rem;
  margin: 0 0 1rem 0;
  font-weight: bold;
}

//R+V Copyright statement
footer .copyright p {text-align: center; font-size: .6rem;}

$social-icon-size: 50;
footer {
  .social-email-icon, .social-fb-icon, .social-tw-icon {
    min-width: #{$social-icon-size}px;
    min-height: #{$social-icon-size}px;
    padding: 0;
    vertical-align: middle;
    a {
      color: transparent;
      height: 100%;
      width: 100%;
      min-width: 100%;
      min-height: 100%;
      &:hover {
        color: transparent;
      }
    }
  }
}
footer #social-options {
	margin-top: 3em;
	margin-bottom: 1em;
	padding: 0;
    float: right;

}
footer .social-email-icon {
  background: url('../images/icons/#{$social-icon-size}px/mail.png') no-repeat center center;
}
footer .social-fb-icon {
  background: url('../images/icons/#{$social-icon-size}px/facebook.png') no-repeat center center;
}
footer .social-tw-icon {
  background: url('../images/icons/#{$social-icon-size}px/twitter.png') no-repeat center center;
}

//
// Responsive styles
//

@media #{$small-up} {
  footer img {
    margin: 1em;
    margin-bottom: 0; 
    float:left;
  }
  #footer-email {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem; // match button padding
  }
}

@media #{$medium-up} {
  footer.footer {
    .footerNav {
      .social-options-section {
        min-height: 100%;
      }
    }
    .footer-form {
      #footer-email-button {
        button.submit {
          width: 100%;
        }
      }
    }
  }
}

@media #{$medium-up-portrait} {
  footer.footer {
    .footerNav {
      .social-options-section {
        margin-top: 5%;
        .social-options {
          min-width: 50%;
          width: 100%;
          right: 0;
          ul {
            li.social-option {
              margin-left: 1em !important;
              margin-right: 1em !important;
            }        
          }
        }
      }
    }

  }
}

@media #{$medium-up-landscape} {
  footer.footer {
   .social-options {
    max-width: 50%;

    }   
  }
  
  label.contact {
    font-size: 0.8rem;
  }
}

@media #{$large-up} {
  footer.footer {
   .social-options {
      width: 100%;
      ul {
        li.social-option {
          margin-left: 2em !important;
          margin-right: 2em !important;
        }        
      }     
      // reduce for iPad 2
      @media screen and (max-width: ($large-breakpoint + em-calc(1))) {
        ul {
          li.social-option {
            margin-left: 1.5em !important;
            margin-right: 1.5em !important;
          }        
        }      
      }
    }
    label.contact {
      font-size: 1.25rem;
    } 
  }

}

//
// Viewport-specific styles
//

@media #{$small-only} {
  footer p {
    font-size: smaller;
  }
  footer .hide-for-medium-up img {
    max-width: 3rem;
  }
  .footerNav {
    #footer-email-button {
      button.submit {
        width: 75%;
      }      
    }

  }
}

@media #{$medium-only} {
  
}

@media #{$large-only} {
  
}

@media #{$xlarge-only} {
  
}