
@import "settings";
@import "foundation";
@import "foundation-icons.css";

// project-wide styling here

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switches",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";


$navigation-container-height: $topbar-height;
$navigation-container-bg-color: transparentize(#F5F5F5,0.8);
$navigation-container-z-index: 1000;

$navigation-transition-time: 500ms;

$header-title-fonts: "Lato", sans-serif;

$transparent: rgba(245,245,245,0.0);



@media #{$small-up} {
  #navigation-container {
    background-color: black; // black for mobile
    height: $navigation-container-height;
    z-index: $navigation-container-z-index;
    nav.top-bar {
      background-color: $transparent;
      section.logo-section {
        h1, h4 {
          color: #eee !important;
        }
        h1 {
          text-transform: uppercase;
          font-family: $header-title-fonts;
          line-height: 0.6em;
          font-weight: 100;
          font-size: large;
        }
        h4 {
          font-size: medium;
        }
      }      
    }

  } // end navigation-container
}

@media #{$medium-up} {
  
}

@media #{$large-up} {
  #navigation-container {
    @include single-transition(padding, $navigation-transition-time, ease-out);
    @include single-transition(margin, $navigation-transition-time, ease-out);
    @include single-transition(background-color, 750ms, ease-out);
    nav.top-bar {
      @include single-transition(padding, $navigation-transition-time, ease-out);
      z-index: $navigation-container-z-index + 1;
      background-color: $transparent !important; // transparent; parent has correct style
       border:none;
      a {
        padding-top:0.6em;
      }
    }
  }


  #navigation-container {
    section.logo-section {
      margin-left: 0.5em;
      width: 50%;
      h1, h4 {
        font-size: large;
        line-height: 0.8em;
        @include single-transition(font-size, $navigation-transition-time, ease-out);
      }
      h1 {
        font-size: 200%;
        b {
          font-weight: 300;
        }
      }
      h4 {
        letter-spacing: 0.08em;
      }
      &::before {
        content: '';
        display: block;
        background-repeat: no-repeat;
        position:absolute;
        left:-($topbar-height);
        top:0;
        background-size: $topbar-height $topbar-height;
        background-image: url('../images/logos/mc-white.png') !important;
        min-height: $topbar-height !important;
        min-width: $topbar-height !important;
      }
    }
    // select size for social icons here
    $social-icon-size: 50px;
    $social-icon-pad: 10px;
    .social-section {
      ul.right {
        list-style-type: none;
        margin-right: 18em; // align section here
        position:relative;
        li.menu-option {
          position: absolute;
          height: $social-icon-size;
          width: $social-icon-size;
          top: -($topbar-height) + rem-calc(5px);
          float:right;
          a {
            background-color: rgba(255,255,255,0.0);
            &:active, &:hover, &.is-active {
              background-color: $navigation-container-bg-color;
            }
          }

        }
        li#header-fb-icon {
          background: url('../images/icons/#{$social-icon-size}/facebook.png') no-repeat center center;
        }
        li#header-tw-icon {
          background: url('../images/icons/#{$social-icon-size}/twitter-dk.png') no-repeat center center;
          left: $social-icon-size + $social-icon-pad;
        }
        li#header-menu-icon {
          left: (($social-icon-size) * 2) + $social-icon-pad; 
          color: #eee;
          // padding-top: $social-icon-size * 0.2;
          background-color: rgba(255,255,255,0.0); 
          a {
            // border:thin solid yellow;
            min-width: 150px;
            max-height: $topbar-height;
            min-height: $topbar-height;
            position: relative;
            top: -($topbar-height * 0.05);
          }
          span.label {
            min-width: 8rem;
            text-align: left;
            line-height: ($topbar-height * .5);
            padding-bottom: 0.4em;
            @include hamburger(16px, false, 0, 1px, 6px, $topbar-menu-icon-color, "", false);
            font-size: 200%;
            font-family: $header-title-fonts;
            font-weight: 300;
            background-color: rgba(255,255,255,0.0);
          }
          a + ul.dropdown {
            width: 200px;
            left: -6em;
            li a {
              min-width: 100% !important;
              // background-color: transparentize(#ddd, 0.9);
              width: ($social-icon-size + $social-icon-pad) * 2 !important;
            }
            li.featured a {
              color: $secondary-color;
            }
          }
      
        }
      }

    }
  }



  #hero-container {
    height: 500px;
  }

  // nav bar shrink/expand classes
  #navigation-container.shrinkMenu {
    nav {
      padding: 0 0 0;
      margin-left: 5%;
    }
  }
  #navigation-container.expandMenu {
    nav {
      padding: 0;
      margin-left: 5%;
    }    
  }
  #navigation-container.belowHero {
    background-color: $oil !important;
    height: rem-calc(45);
    h1 {
      font-size: 1rem !important;
    }
    h4 {
      font-size: 0.9rem !important;
    }
    section.logo-section {
      margin-left: -0.5em;      
      &:before {
        background-size: ($topbar-height * 0.75) ($topbar-height * 0.75);
      }
    }
    // resize icons
    $social-icon-size: 40px;
    $social-icon-pad: 8px;

    section.social-section {
      li.menu-option {
        position: absolute;
        top: -($topbar-height) + rem-calc(15px);
      }
      li#header-fb-icon {
        background: url('../images/icons/#{$social-icon-size}/facebook.png') no-repeat center center;
      }
      li#header-tw-icon {
        background: url('../images/icons/#{$social-icon-size}/twitter.png') no-repeat center center;
        left: $social-icon-size + $social-icon-pad;
      }
    }
  }

}

@media #{$small-only} {
  #mobile-menu {
    list-style-type: none;
  }
}

@media #{$medium-only} {
  
}

@media #{$large-only} {
  
}

@media #{$xlarge-only} {
  
}