@import "settings";
@import "foundation";
@import "foundation-icons.css";

// project-wide styling here

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switches",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";

$navigation-container-height: $topbar-height;
// $navigation-container-bg-color: transparentize($bill-rapp-blue, 0.3);
$navigation-container-bg-color: $bill-rapp-blue;
$navigation-white: #eee;
$navigation-container-z-index: 1000;

$navigation-transition-time: 500ms;

$header-title-fonts: "Lato", sans-serif;

$transparent: rgba(245,245,245,0.0);

/* apply to all */
#navigation-container {
  background-color: $navigation-container-bg-color;
  nav.top-bar {
    width: $row-width;
    margin-left: auto;
    margin-right: auto;
    section.logo-section {
      h1, h4 {
        //margin-left: 1em;
        position: absolute;
        display: block;
        left: 1em;
      }
      img {
        position:absolute;
        top: 3px;
    		left: 5px;
        min-height: ($topbar-height * 0.90) !important;
        max-height: ($topbar-height * 0.90) !important;
      }
    }    
  }
}


/* iPhone 4s and smaller devices */
@media (max-width: 320px) and (orientation:portrait) {
  #navigation-container {
    nav.top-bar {
      width: 100%;
      section.logo-section {
        img {
          min-height: ($topbar-height * 0.80) !important;
          max-height: ($topbar-height * 0.80) !important;
        }
      }   
    }
  }
}


@media #{$small-up} {
  #navigation-container {
    background-color: $navigation-container-bg-color;
    height: $navigation-container-height;
    z-index: $navigation-container-z-index;
    nav.top-bar {
      width: 100%;
      background-color: $navigation-container-bg-color;
      section.logo-section {
        h1, h4 {
          color: $navigation-white !important;
        }
        h1 {
          text-transform: uppercase;
          font-family: $header-title-fonts;
          line-height: 0.6em;
          font-weight: 100;
          font-size: large;
        }
        h4 {
          font-size: medium;
        }
      }    
    }

  } // end navigation-container
}


@media #{$medium-up} {
  #navigation-container {
    background-color: $navigation-container-bg-color;
  }  
}

@media #{$large-up} {
  #navigation-container {
    @include single-transition(padding, $navigation-transition-time, ease-out);
    @include single-transition(margin, $navigation-transition-time, ease-out);
    @include single-transition(background-color, 750ms, ease-out);
    background-color: $navigation-container-bg-color;
    height: $navigation-container-height;
    nav.top-bar {
      width: $row-width;
      @include single-transition(padding, $navigation-transition-time, ease-out);
      z-index: $navigation-container-z-index + 1;
      background-color: $transparent !important; // transparent; parent has correct style
       border:none;
      a {
        padding-top:0.6em;
      }
    }
  }


  #navigation-container {
    section.logo-section {
      margin-left: 0.5em;
      width: 50%;

      /* Text-based logo/tagline styling (deprecated)  */
      h1, h4 {
        font-size: large;
        line-height: 0.8em;
        @include single-transition(font-size, $navigation-transition-time, ease-out);
      }
      h1 {
        font-size: 200%;
        letter-spacing: 4px;
        b {
          font-weight: 300;
        }
      }
      h4 {
        letter-spacing: 0.08em;
      }
      /* img logo styling */
      img {
        position:absolute;
        top: 0;
        min-height: ($topbar-height * 0.95) !important;
        max-height: ($topbar-height * 0.95) !important;
      }
      /* styling for MC House Icon */
      // &::before {
      //   content: '';
      //   display: block;
      //   background-repeat: no-repeat;
      //   position:absolute;
      //   left:-2em;
      //   top:0;
      //   background-size: $topbar-height $topbar-height;
      //   //background-image: url('../images/logos/mc-white.png') !important;
      //   min-height: $topbar-height !important;
      //   min-width: $topbar-height !important;
      //   max-height: $topbar-height !important;
      //   max-width: $topbar-height !important;
      // }
    }
    // select size for social icons here
    $social-icon-size: 50px;
    $social-icon-pad: 10px;
    .social-section {
      position:relative;
      left:0;
      ul { 
        padding-top: 0;
        margin-top: 0;
        li.social-icon {
          position: absolute;
          left:0;
          height: $social-icon-size;
          width: $social-icon-size;
          top: rem-calc($social-icon-pad / 2);
        }
        li#header-fb-icon, li#header-tw-icon {
          a {
            background-color: $transparent;
            &:hover, &:active, &.active {
              background-color: $transparent;
              color:none;
              text-decoration: none;
            }
          }
        }
        li#header-fb-icon {
          background: url('../images/icons/#{$social-icon-size}/facebook.png') no-repeat center center;
        }
        li#header-tw-icon {
          background: url('../images/icons/#{$social-icon-size}/twitter-dk.png') no-repeat center center;
          left: $social-icon-size + $social-icon-pad;
        }

      }
    }
    .main-menu-section {
      margin-right: 5.5rem !important; // align section here
      ul {
        li#header-menu-icon {
          left: (($social-icon-size) * 2) + $social-icon-pad; 
          color: $navigation-white;
          // padding-top: $social-icon-size * 0.2;
          background-color: $navigation-container-bg-color; 
          a {
            // border:thin solid yellow;
            min-width: 150px;
            max-height: $topbar-height;
            min-height: $topbar-height;
            position: relative;
            top: -($topbar-height * 0.05);
          }
          span.label {
            min-width: 8rem;
            text-align: left;
            line-height: ($topbar-height * .5);
            padding-bottom: 0.4em;
            @include hamburger(16px, false, 0, 1px, 6px, $topbar-menu-icon-color, "", false);
            font-size: 200%;
            font-family: $header-title-fonts;
            font-weight: 300;
            background-color: rgba(255,255,255,0.0);
          }
          a + ul.dropdown {
            width: 200px;
            left: 0;
            li a {
              min-width: 100% !important;
              // background-color: transparentize(#ddd, 0.9);
              width: ($social-icon-size + $social-icon-pad) * 2 !important;
            }
            li.featured a {
              color: orange;
            }
          }
        }
      }
    }
    .social-section, .main-menu-section {
      ul.right {
        list-style-type: none;
        position:relative;

        
      }

    } // end .social-section
    #navigation-section {
      ul.right {
        li.menu-option {
          // left: (($social-icon-size) * 0.1) + $social-icon-pad; 
          color: $navigation-white;
          // top: - ( $topbar-height - rem-calc($social-icon-pad) );
          // padding-top: $social-icon-size * 0.2;
          background-color: rgba(255,255,255,0.0);
          &:hover, &:active, &.is-active {
            // background-color: rgba(255,255,255,0.0);
          }
          a {
            // border:thin solid yellow;
            min-width: 150px;
            max-height: $topbar-height;
            min-height: $topbar-height;
            position: relative;
            top: -($topbar-height * 0.05);
            // background-color: rgba(255,255,255,0.0);
            span.label {
              color:$navigation-white;
              min-width: 8rem;
              text-align: left;
              line-height: ($topbar-height * .5);
              padding-bottom: 0.4em;
              @include hamburger(16px, false, 0, 1px, 6px, $topbar-menu-icon-color, "", false);
              font-size: 200%;
              font-family: $header-title-fonts;
              font-weight: 300;
              // background-color: rgba(255,255,255,0.0);
            }
          }
          ul.dropdown {
            li {
              // background-color:black;
              &:hover, &:active, &.active {
                // background-color: $navigation-container-bg-color;
              }
            }
          }
        }
      }
    }
  }



  #hero-container {
    height: 500px;
  }

  // nav bar shrink/expand classes
  #navigation-container.shrinkMenu {
    nav {
      padding: 0 0 0;
      margin-left: 5%;
    }
  }
  #navigation-container.expandMenu {
    nav {
      padding: 0;
      margin-left: 5%;
    }    
  }

}

@media #{$small-only} {
  #mobile-menu {
    list-style-type: none;
  }
}

@media #{$medium-only} {
  
}

@media #{$large-only} {
  
}

@media #{$xlarge-only} {
  
}