// sharing side bar
// see _settings.scss for $sidebar-z value

@import "settings";

.sharing-options {
  position:absolute;
  top: $hero-height * 1.5;
  z-index: $sidebar-z; // may overlap with content
  background-color: rgba(255,255,255, 0.75);
  right: -5rem; // off-canvas
  @include single-transition(right, 500ms, ease-in);
  ul {
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
    li {
      padding: .75em;
      div.sharing-item {
        background-color: transparent;
        border-radius: 50%;
        padding: 3px;
        @include single-transition(background-color, 100ms, ease-in);
        &:hover {
          background-color: $secondary-color;
        }
      }
    }
    li.label {
      width: 100%;
      padding: 0.5em 0.75em 0.5em 0.75em;
    }
  }
}
.shareBarReveal {
  position:fixed;
  top: 40%;
  right: 0.5em !important;
}
.shareBarExit {
  position:fixed;
  top: 40%;
  right: -5em !important;
}