//
// utility classes
//

// use these for font icons
.size-12 { font-size: 12px; }

.size-14 { font-size: 14px; }

.size-16 { font-size: 16px; }

.size-18 { font-size: 18px; }

.size-21 { font-size: 21px; }

.size-24 { font-size: 24px; }

.size-36 { font-size: 36px; }

.size-48 { font-size: 48px; }

.size-60 { font-size: 60px; }

.size-72 { font-size: 72px; }

// these tweaks make Foundation's flex video look better
@media #{$small-up} {
  .flex-video.widescreen {
    padding-bottom: 49% !important; // customization for our first issue vid
  }
}

@media #{$medium-up} {
  .flex-video.widescreen {
    padding-bottom: 50% !important; // customization for our first issue vid
  }
}

@media #{$large-up} {
  .flex-video.widescreen {
    padding-bottom: 54% !important; // customization for our first issue vid
  }
}

// mixins

@mixin build-img-for-print($filepath:"white-house.jpg", $relpath:"../../../") {

  @media print {
    #hero-row .hero {
      .hero-title {
        img.print-hero-image {
          max-width: 100% !important;
          height: 300px;
          width: 700px;
          content: url('#{$relpath}images/heros/sm/#{$filepath}');
        }
      }
    }
  }
}