/* Styles for single blog pages only */

@import "settings";
@import "header";
@import "foundation";
// @import "foundation-icons.css";


#blog-single-entry {
		.blog-item {
			.blog-item-info {
				text-align: left;
				.author:before {content: " · ";}
				span {display:inline;}
			}
			.media {
				float:right;
				margin-left: 1rem;
				width: 50%;
				.media-item {width: 100%;}
				.media-credit {
					display:block;
					font-family: $font-family-monospace; 
					font-size: .5rem; 
					color: #ccc;
					text-align: right;
			}
		}
	}
}
