/* Styles for single blog pages only */

@import "settings";
@import "header";
@import "foundation";
// @import "foundation-icons.css";

#blog-single-entry {
		.blog-item {
			.blog-item-info {
				color: $secondary-color;
				text-align: right;
				.author:before {content: " · ";}
				span {display:inline;}
			}
			.media {
				float:right;
				margin-left: 1rem;
				//width: 50%;
				max-width: 50%;
				.media-item {width: 100%;}
				.media-credit {
					display:block;
					font-family: $font-family-monospace; 
					font-size: .5rem; 
					color: $first-year-grey;
					text-align: right;
			}
		}
	}
}


.blogteaser {
	margin-top: 1rem;
	h4 {
		background-color: $info-color;
		color: #fff;
		text-align: center;
		text-transform: uppercase;
		font-size: 1rem;
		margin: 0 auto;

	}
}


.social-options {
	margin-top: 3em;
	margin-bottom: 3em;
	padding: 0;
	li.label {margin-top: 15px;}
	li a {width: 55px; height: 55px;}
	.social-email-icon {
	background: url('../images/icons/55px/mail.png') no-repeat center center;
	}
	.social-fb-icon {
	background: url('../images/icons/55px/facebook.png') no-repeat center center;
	}
	.social-tw-icon {
	background: url('../images/icons/55px/twitter.png') no-repeat center center;
	}
	.social-mail-icon {
	background: url('../images/icons/55px/mail.png') no-repeat center center;
	}
	.social-linkedin-icon {
	background: url('../images/icons/55px/linkedin.png') no-repeat center center;
	}
}
@media #{$small-only} {
	.social-options {
		li.label {
			position:absolute;
			margin: 0 30%;
			width: 40%;
			margin-top: -2rem;
			left: -0.375rem;
		}
	}
}