/* Styles for essay pages only */

@import "settings";
@import "header";
@import "foundation";
@import "foundation-icons.css";


#essay {margin: 0 auto; }

p.essay-intro {font-size: larger;}

#essay > p {padding-right: 150px; padding-left: 150px;}

figure {
	/*border-top: 1px solid $info-color; 
	border-bottom: 1px solid $info-color; */
	padding: 10px 15px; 
	max-width: 30%;} 

figure.video {max-width: initial;}

figure.sm {max-width:30%;} 
figure.lg {max-width: 100%;} 

figure.right {
	//float:right; This is built into Foundation's "right" class
	}

figure.left {
	//float:left; This is built into Foundation's "left" class
	}

figcaption {display: table-row;}
figcaption p {
	font-size: .7rem; 
	line-height: 1rem; 
	color: $secondary-color; 
	padding-top: .4rem; 
	margin-bottom: 0;} 

figure img {clear:both; max-width: 100%;}

.pullquote {
	font-size: larger; 
	line-height: 1.8rem;
	margin: 50px 0; 
	clear:both; 
	font-style: italic;
	padding: .8rem 0; 
	color: $secondary-color;
	border-top: 1px solid $info-color;
	border-bottom: 1px solid $info-color;}

blockquote {
	margin: 25px 0 25px 3%; 
	padding: 0 0 0 3%; 
	border-left: 1px solid $info-color; 
	font-family: $font-family-small;
	font-size: smaller;}
//blockquote:before {content:"“";}
//blockquote:after {content:"”";}

.essay-continues {
	display:block; 
	width: 100%; 
	font-size: .7rem; 
	color: $secondary-color; }

// Call to action	
.cta {
	background-color: $primary-color; 
	color: #fff;
	margin: 0 0 50px 0; 
	clear:both; 
	padding: 15px 25px; 
	text-align: center;
		h4 {
			text-transform: uppercase;
			letter-spacing: 10px;
			color: #aaa;
		}
	.more {color: $info-color;}
	}

.cta .email-signup {margin: 0 auto;}

.author {
	background-color: $primary-color; 
	width: 100%;
	margin-bottom: 3rem;
	color: #ddd; 
	font-family: $font-family-small; 
	padding: 1em;	
		a {color: #fff;
		&:hover {color:#ddd;}
		}
	p {
		font-size: smaller;
		}
	.author-contact {
		float:right;
		font-size: smaller;
		&:before {
			content: url('../images/icons/35px/twitter-wh-sm.png'); 
			position:relative; top: 13px; 
			}
		}
	
	}


	
	

#supplementary-content, #supplementary-content #resources ul, #supplementary-content #footnotes ol{
	color: #ccc;
	font-size: smaller;
	}

#supplementary-content #resources ul {
	list-style: circle;
	}


//
// Viewport-specific styles
//

@media #{$small-only} {
	#essay p {padding-left: 1em; padding-right: 1em;}
	#essay figure {max-width: 100%; text-align: center; border-top: 1px solid $info-color; border-bottom: 1px solid $info-color; }
	#essay figure.right, #essay figure.left {float:none !important; clear:both; position: static; left: 0; margin-left: 0; }  
}

@media #{$medium-only} {
	#essay p {padding-left: 1em; padding-right: 1em;}
	#essay figure {max-width: 100%; text-align: center; border-top: 1px solid $info-color; border-bottom: 1px solid $info-color; }
	#essay figure.right, #essay figure.left {float:none !important; clear:both; position: static; left: 0; margin-left: 0; }  


}

@media #{$large-only} {
}

@media #{$xlarge-only} {
}



