/* Styles for essay pages only */

/* override First Year defaults before importing _settings */

@import "settings";
@import "header";

/* override Foundation defaults before importing foundation */

@import "foundation";
// @import "foundation-icons.css";



//
// 1.0 Global styles
//

//
// 2.0 Hero Section
//
$hero-height: 24rem;
@import "hero";

#hero-row .hero .hero-title {
  top: 15%; 
  #hero-title {
  }
}

.hero {height: $hero-height;}
.hero:before {height: 100%;}

#hero-title h2 a:hover {color: #fff; text-decoration: none;}

#essay {margin: 0 auto; font-family: Verdana, sans-serif;}

#essay a {color: $info-color;}

/* #essay > p, #essay > h3, #essay > h4 {padding-right: 150px; }*/

#cliffsnotes {
	float:left; 
	width: 12rem; 
	float:right;
	margin-left: 1em;
	ul {
		margin-left: .5em; 
		margin-right: 0; 
		font-size: 70%; 
		color: #aaa;
		li {margin-bottom: .5em;}
		li.label {
			font-size: 140%;
			border-bottom: 1px dotted $first-year-grey; 
			color: $info-color;
			padding-left: 0;
			letter-spacing: 2px;
			text-transform: uppercase;
			background-color: transparent;
			text-align: center;
			white-space: initial;
			list-style-type: none;}
		}
	
	}


.lateral-nav {
	background-color: #000;
	padding-top: .5rem;
	border-top: 1px solid $jumbo;
	border-bottom: 5px solid #fff;
	p {
		font-size: .8rem; 
		line-height: 1rem;
		color: $jumbo;	
	}
	a, a:visited  {color: $jumbo; }
	a:hover {color: #fff; text-decoration: none;}
	.lateral-nav-next {
		text-align:right;
		&::after {content:" »";}
	}
	.lateral-nav-prev:before {content: "« ";}
}

.lateral-nav#bottom {
	background-color: #fff;
	a:hover {color: $jumbo;}
}



figure {
  position: inherit; // works with z-index below
  z-index: 100; // ensure greater than $sidebar-z
	padding: 10px 15px; 
	max-width: 30%;} 

figure.video {max-width: initial;}

figure.sm {max-width:30%;} 
figure.lg {max-width: 100%;} 

figure.right {
	//float:right; This is built into Foundation's "right" class
	}

figure.left {
	//float:left; This is built into Foundation's "left" class
	}

figcaption {display: table-row;}
figcaption p {
	font-size: .7rem; 
	line-height: 1rem; 
	color: $secondary-color; 
	padding-top: .4rem; 
	margin-bottom: 0;} 

figure img {clear:both; max-width: 100%;z-index:$sidebar-z + 10;}

.pullquote {
	font-size: larger; 
	line-height: 1.8rem;
	margin: 50px 0; 
	clear:both; 
	font-style: italic;
	padding: .8rem 0; 
	color: $secondary-color;
	border-top: 1px solid $info-color;
	border-bottom: 1px solid $info-color;
	background-color: #fff;
	position:inherit;
	z-index:$sidebar-z + 10;
}

.pullquote.ohp-pullquote {
	text-align:center;
	line-height: 1rem;
	font-style: normal;
	padding: 1rem;
	margin: 1rem;
	p {font-size: .7rem; 	color: #000;}
	img {}
}

.pullquote-info {
	font-size: .6rem; 
	line-height: .8rem; 
	max-width: 50%;
	float:right;

	}

.pullquote-project {
	text-transform: uppercase; 
	font-size: .5rem;
	padding-top: 1rem;
	padding-bottom: -1rem;
	clear:both;
	color: #000;}
	

blockquote {
	margin: 25px 150px 25px 175px; 
	padding: 0 0 0 3%; 
	border-left: 1px solid $info-color; 
	font-family: $font-family-small;
	font-size: smaller;
}
@media #{$small-up} {
	blockquote {
	  margin: 0 0 1rem;	//bottom margin only	
	}
}
@media #{$medium-up} {
	blockquote {
	  margin: rem-calc(12.5px) rem-calc(75px) rem-calc(12.5px) rem-calc(43.75px);		
	}
}
@media #{$large-up} {
	blockquote {
		margin: rem-calc(25px) rem-calc(150px) rem-calc(25px) rem-calc(175px); 
	}
}
@media print {
  blockquote {
    border:none;
  }
}
//blockquote:before {content:"“";}
//blockquote:after {content:"”";}

.essay-continues {
	display:block; 
	width: 100%; 
	font-size: .7rem; 
	color: $secondary-color; }

// Call to action	
.cta {
	max-width: 40%;
	background-color: $primary-color; 
	color: #fff;
	margin: 10px 15px; 
	padding: 15px 25px; 
	text-align: center;
		h4 {
			text-transform: uppercase;
			letter-spacing: 10px;
			color: #aaa;
		}
	button {background-color: $info-color;}
	.more {color: $info-color;}
	padding: 25px; 
	/*text-size: larger;*/
	text-align:center;
	
	
	}



.author {
	position: inherit;
	z-index: 100; // ensure greater than $sidebar-z
	background-color: #ddd; 
	width: 100%;
	margin-bottom: 3rem;
	color: #000; 
	font-family: $font-family-small; 
	padding: 1em;	
	font-family: $font-family-small; 
	padding: 1em;	
	p {
		font-size: .8rem;
		}
	.author-contact {
		float:right;
		font-size: .8rem;
		position: relative; 
		top: -.8rem;
			.tw {
			&:before {
				content: url('../images/icons/35px/twitter-gr.png'); 
				position:relative; 
				top: .6rem;
				right: .8rem;
				}
			}
		}
	
	}


	
	

#supplementary-content, #supplementary-content #resources ul, #supplementary-content #footnotes ol{
	color: $secondary-color;
	font-size: smaller;
	}

#supplementary-content #resources ul {
	list-style: circle;
	}
@media #{$small-only} {
  #supplementary-content #resources ul {
    max-width: #{upper-bound($small-range)};
    overflow:scroll;
  }
}

#essay > ul li {padding-bottom: 1rem; font-size: smaller;}


//
// Viewport-specific styles
//

@media #{$small-only} {
	#essay p {padding-left: 1em; padding-right: 1em;}
	#essay figure {max-width: 100%; text-align: center; border-top: 1px solid $info-color; border-bottom: 1px solid $info-color; }
	#essay figure.right, #essay figure.left {float:none !important; clear:both; position: static; left: 0; margin-left: 0; }  
	#cliffsnotes, .pullquote.ohp-pullquote {width: 100%;}
	
	// keep embeded videos within a 375px (width) viewport
	#essay {
		figure.video {
			iframe {
				width: 300px !important;
				height: 225px !important;				
			}
		}
		figure.video.widescreen {
			iframe {
				height: 169px !important;
			}		
		}
	}
}

@media #{$small-up} {
	#essay > p, #essay > h3, #essay > h4 {padding-right: 0.25em; padding-left: 0.25em;}
}

@media #{$medium-only} {
	#essay p {padding-left: 1em; padding-right: 1em;}
	#essay figure {max-width: 100%; text-align: center; border-top: 1px solid $info-color; border-bottom: 1px solid $info-color; }
	#essay figure.right, #essay figure.left {float:none !important; clear:both; position: static; left: 0; margin-left: 0; }  


}

@media #{$medium-up} {
	p.essay-intro {font-size: 26px;}
	#essay > p, #essay > h3, #essay > h4, #essay > ul, #essay > ol {padding-right: 1em; padding-left: 1em;}
	.pullquote.ohp-pullquote {width: 40%;}
}

@media #{$large-up} {
	#essay > p.essay-intro { padding-right: 14rem;}
	#essay > p, #essay > h3, #essay > h4, #essay > ul, #essay > ol {padding-right: 12rem;}
}

@media #{$xlarge-only} {
}
@media print {
	#essay {
		margin-top: $hero-height - 10rem;
	}
  .pullquote {
    page-break-inside: avoid;
  }	
}
