$fy-blue-1: #84a0b5;
@import "settings";
@import "header";
@import "foundation";
@import "foundation-icons.css";

// project-wide styling here

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switches",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";


//
// HEADER (NAVBAR) STYLES
//
// see "_header.scss"


//
// HERO IMAGE CONTAINER 
//
// hero stuff needs SERIOUS refactoring
.row.intro {
  padding-top: 0 !important;
}
.intro-nav {
  color: #eee;
  background-color: none;
  div {
    display: flex;    
  }
  span {
    text-align: center;
    padding: 0.3em 1em;
    display: inline-block;
    flex: 1;
    margin: 0 0.5em;
    min-width: 45%;
    max-width: 47%;
    width: 50%;
    text-transform: uppercase;
    font-size: 90%;
    $gradient-opacity: 0.7;
    $hover-opacity: 0.5;
    border: 1px solid rgba(#eee, 0.3);
    border-radius: 1px;
    background: -webkit-radial-gradient(transparentize(#000, $gradient-opacity) 5%, transparentize(#333, $gradient-opacity) 25%, transparentize(#888, $gradient-opacity) 95%);
    &:hover, &:active {
      background: -webkit-radial-gradient(transparentize(#000, $hover-opacity) 5%, transparentize(#333, $hover-opacity) 25%, transparentize(#888, $hover-opacity) 95%);
    }
    @include single-transition(background, 500ms, ease-in-out);

  }
}
.hero-title {
  text-align: center;
  top:0;
  #hero-title {
    margin-top: 10%;  //overall vertical placement of title (refactor)
  }
  h2 {
    color: #ccc;
    font-size: 1.3rem;
    letter-spacing: 0.15em;
    font-weight: 100;
    font-family: "Verdana";
    text-transform: uppercase;
  }
  p {
    text-shadow: 1px 1px #000000;
    text-align: center;
    margin: 0 auto;
    display: inline-block;
  }
  .stars {
    color: orange;
    display: inline-block;
    letter-spacing: 0.5em;
    padding-bottom: 0.25em;
  }
  h1.main-title {
    font-family: $header-title-fonts;
    color: #fff;
    font-size: 2.5rem;
    line-height: 1em;
    letter-spacing: 0.025em;
    font-weight: 300;
    text-align: center;
    padding-top: 0em;
  }
  p {
    color: #fff;
    line-height: 1.75em;
    font-weight: 200;
    text-align: center;
    margin-bottom: 2rem;
  }
}
.hero {
  // background: url('http://wallpoper.com/images/00/34/39/15/circuit-pcb_00343915.jpg') no-repeat center center;
  background: url('../images/heros/white-house.jpg') no-repeat center center;
  background-size: cover;
  height: 75vh;
  top: -($topbar-height);
  position: relative;
  &:before {
    content: '';
    height: 75vh;
    position: absolute;
    top: 0; // watch out for topbar
    right: 0;
    bottom: 0;
    left: 0;
    // background-image: linear-gradient(to bottom right,#002f4b,#dc4225);
    background-image: linear-gradient(to bottom right,#222222,#111111);
    opacity: .8; // was .8 
  }
  .intro {
    padding: 3rem;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    border:thin solid yellow;
  }
  .intro-nav {
    // border: thin solid red;
    .columns {
      // border: thin solid pink;
    }
  }
  h1 {
    color: #fff;
    font-size: 1.5rem;
    line-height: 1.5em;
    letter-spacing: -0.025em;
    font-weight: 300;
    text-align: center;
  }
  p {
    color: #fff;
    line-height: 1.75em;
    font-weight: 200;
    text-align: center;
    margin-bottom: 2rem;
  }
  @media only screen and (min-width: 40.063em) {
    .tech-img {
      height: 18rem;
      width: 18rem;
    }
    h1 {
      padding-top: 4.5rem;
      text-align: right;
      font-size: 2.5rem;
    }
    p {
      text-align: right;
    }
  }
  .subnav {
    $window-tint: 0.3;
    float: none;
    position: absolute;
    // top: 4rem;
    bottom: 0;
    // text-align: center;
    margin-bottom: 0;
    left: 10%;
    width: 75%;
    // border: thin solid yellow;
    min-height: 8rem;
    li.tab {
      float: none;
      display: inline-block;
      width: 24%;
      .tab-entry {
        position: absolute;
        top: 0;
        height: 100%;
        width: 24%;
        padding-right: 1em;
        @include single-transition(background-color, 500ms, ease-in-out);
        &:hover {
          background: rgba(250,250,250,$window-tint);
        }
        &.is-active {
          border-top: 5px solid orange;
        }
      }
      p {
        text-align: center;
        padding: 0 1em;
        margin-top: 0.5em;
        padding-left: 0em;
      }
      a {
        padding: 0.9rem 1rem 0.75rem;
        font-size: 0.875rem;
        color: #fff;
        text-transform: uppercase;
        display: block;
        // font-weight: bold;
        letter-spacing: 1px;
        top: 0;
        position: relative;
        &.is-active {
          // background: rgba(250,250,250,$window-tint);
          color: orange;
          top: -5px;
        }

        &:hover {
          // background: rgba(250,250,250,$window-tint);
          color: orange;
          transition: all .25s ease-in-out;
        }
      }
    }
  }
}

@media #{$small-up} {
  $hero-z: -10; //This is shading the hero text when it's set to 0 or 1, not sure why. 
  .hero {
    z-index: $hero-z;
    &:before {
      z-index: $hero-z + 1;
    }
  } // end .hero
}

@media #{$medium-up} {
  $hero-z: -10; //This is shading the hero text when it's set to 0 or 1, not sure why. 
  .hero {
    z-index: $hero-z;
    &:before {
      z-index: $hero-z + 1;
    }
  } // end .hero
}

@media #{$large-up} {
  $hero-z: -10; //This is shading the hero text when it's set to 0 or 1, not sure why. 
  .hero {
    // background: url('http://wallpoper.com/images/00/34/39/15/circuit-pcb_00343915.jpg') no-repeat center center;
    background: url('../images/heros/white-house.jpg') no-repeat center center;
    background-size: cover;
    height: 75vh;
    top: -($topbar-height);
    position: relative;
    z-index: $hero-z;
    &:before {
      content: '';
      height: 75vh;
      position: absolute;
      top: 0; // watch out for topbar
      right: 0;
      bottom: 0;
      left: 0;
      background-image: linear-gradient(to bottom right,#222222,#111111);
      opacity: .8; // was .8 
      z-index: $hero-z + 1;
    }
    .intro {
      padding: 3rem;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      border:thin solid yellow;
    }
    .intro-nav {
      // border: thin solid yellow;
      color: #eee;
      div {
        display: flex;    
      }
      .columns {
        // border: thin solid pink;
        span.intro-button {
          text-align: center;
          padding: 0.3em 1em;
          display: inline-block;
          flex: 1;
          margin: 0 0.5em;
          min-width: 45%;
          max-width: 47%;
          width: 50%;
          text-transform: uppercase;
          font-size: 90%;
          $gradient-opacity: 0.7;
          $hover-opacity: 0.5;
          border: 1px solid rgba(#eee, 0.3);
          border-radius: 1px;
          background: -webkit-radial-gradient(transparentize(#000, $gradient-opacity) 5%, transparentize(#333, $gradient-opacity) 25%, transparentize(#888, $gradient-opacity) 95%);
          &:hover, &:active {
            background: -webkit-radial-gradient(transparentize(#000, $hover-opacity) 5%, transparentize(#333, $hover-opacity) 25%, transparentize(#888, $hover-opacity) 95%);
          }
          @include single-transition(background, 500ms, ease-in-out);
        }
      }
    }
    h1 {
      color: #fff;
      font-size: 1.5rem;
      line-height: 1.5em;
      letter-spacing: -0.025em;
      font-weight: 300;
      text-align: center;
    }
    p {
      color: #fff;
      line-height: 1.75em;
      font-weight: 200;
      text-align: center;
      margin-bottom: 2rem;
    }
  } // end .hero
}

@media #{$small-only} {
  .hero {
    margin-top: 2rem;
  }
}

@media #{$medium-only} {
  
}

@media #{$large-only} {
  
}

@media #{$xlarge-only} {
  
}


//
// MAIN CONTAINER
//


body {
	color: #333;
	font-family: 'Karla', Verdana, sans-serif;
	font-size: 22px;
	line-height: 32px;
}

// Pad any p that's loose in the container 
body p {margin-top: 25px;} 


a {color: #3d657d; }
a:hover {text-decoration: none;}
a:visited {color: #000;}
a.important {color: #ff7d34; font-weight: bold;}
a.more:after {content: " ➤";}


h1 {
	font-family: 'Crimson Text', serif;
	font-size: 62px;
	line-height: 60px;}
	

h2, h3, h4, h5 {font-family: Verdana, sans-serif; }
h2 {font-size: 50px; line-height: 60px;}	
h3 {font-size: 40px; line-height: 50px;}	
h4 {font-size: 34px; line-height: 40px;}	
h5 {font-size: 26px; line-height: 30px;}	
	
ul, ol {margin: 10px 3% 15px 3%; padding: 10px 2% 15px 2%;}
ul {list-style-type: circle;}

// Clearfix 
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}





@media #{$small-up} {
  #featured-container {
    background: grey;
  }
  #blog-container {
    background: blue;
  }
}

@media #{$medium-up} {
  
}

@media #{$large-up} {

}

@media #{$small-only} {
  
}

@media #{$medium-only} {
  
}

@media #{$large-only} {
  
}

@media #{$xlarge-only} {
  
}