$hero-height: 30rem;
@import "settings";

/* override Foundation defaults before importing foundation */

@import "foundation";
// @import "foundation-icons.css";
@import "utils";
@import "header";
@import "sidebar";
@import "footer";

// mixins, including overriding default ones
@mixin single-transition($property:all, $speed:300ms, $ease:ease-out) {
  transition: $property $speed $ease;
  -webkit-transition: $property $speed $ease;
  -moz-transition: $property $speed $ease;
  -ms-transition: $property $speed $ease;
  -o-transition: $property $speed $ease;
}

// project-wide styling here

body {
  position:relative;
  z-index: 0;
}

// global classes 
.grey {
  color: $first-year-grey;
}
.supertitle {
  text-transform: uppercase;
}

//
// 1.0 HEADER (NAVBAR) STYLES
//
// see "_header.scss"


//
// 2.0 HERO IMAGE CONTAINER 
//

// See @import "hero" in individual stylesheets


//
// MAIN CONTAINER
//

//
// default
//

body {
	font-size: 22px;
	line-height: 32px;
}

a {color: $primary-color; }
a:hover {text-decoration: underline;}
a:visited {color: $secondary-color;}
a.important {color: $info-color; font-weight: bold;}

a.more {
	font-size: 14px; 
	line-height: 16px; 
	color: $secondary-color; 
	&:after {content: "»";}
	}


	
ul, ol {margin: 10px 3% 15px 3%; padding: 10px 2% 15px 2%;}
ul {list-style-type: circle;}

// Clearfix 
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

// These are bars of content with dark backgrounds--might be better accomplished with a "dark" class

.cta {
  position: inherit; // works with z-index below
  z-index: 100; // ensure greater than $sidebar-z
	color: #ddd; 
	font-family: $font-family-small; 
	padding: 1em;
		a {color: #fff;
		&:hover {color:#ddd;}
		}
	}


// this is to address situations where iphones aren't
// displaying pages across the full viewport width
@media screen and (max-width: 375px) and (orientation: portrait) {
  $iphone-6-max-w: 395;
  #navigation-container {
    max-width: #{$iphone-6-max-w}px;
    width: #{$iphone-6-max-w}px;
  }
  body {
    max-width: #{$iphone-6-max-w}px;
    width: #{$iphone-6-max-w}px;
  }
  body > .row {
    max-width: #{$iphone-6-max-w}px;
    width: #{$iphone-6-max-w}px;
  }
} // end custom media query

@media #{$small-up} {

}

@media #{$medium-up} {

}

@media #{$large-up} {

}

@media #{$small-only} {
  
}

@media #{$medium-only} {
  
}

@media #{$large-only} {
  
}

@media #{$xlarge-only} {
  
}
