/* Styles for home page only */
@import "settings";
@import "blog";
// @import "header";

/* styling specific to project home page */


#featured {
	margin-top: 1rem;
	.columns {padding-left: 0;}
	h2 {
		padding-left: .2rem;
		background-color: $info-color;
		color: #fff;
	}
	.featured-item {
		padding-right: 1rem;
		border-left: .1rem solid $info-color;
		float:left;
		height: 20rem;
		overflow: hidden;
		margin-bottom: 1rem;
			.featured-item-text {
				margin: 0 5%;
					p {line-height: 1.2rem;	}
			}		
		.media {
			.media-credit {
				font-family: $font-family-monospace; 
				font-size: .5rem; 
				color: #ccc;
				text-align: right;
				position: relative;
				top: -.3rem;
				line-height:0;
			}
		}
	}
	

}


