/* Styles for issue pages only */

/* override First Year defaults before importing _settings */

@import "settings";

/* import blog styles */

@import "blog";

/* override Foundation defaults before importing foundation */

@import "foundation";
@import "utils";

// mixins, including overriding default ones
@mixin single-transition($property:all, $speed:300ms, $ease:ease-out) {
  transition: $property $speed $ease;
  -webkit-transition: $property $speed $ease;
  -moz-transition: $property $speed $ease;
  -ms-transition: $property $speed $ease;
  -o-transition: $property $speed $ease;
}

/* styling specific to project home page */

/* transition for news ticker */
.slide {
  @include single-transition();
}

//
// 1.0 Global styles
//

//
// 2.0 Hero Section
//
$hero-height: 30rem;
@import "hero";

#featured {
	margin-top: 1rem;
	.columns {padding-left: 0;}
	/*h2 {
		padding-left: .2rem;
		background-color: $info-color;
		color: #fff;
	}*/
	.featured-item {
		padding-right: 1rem;
		/*border-left: .1rem solid $info-color;*/
		float:left;
		height: 19rem;
		overflow: hidden;
		margin-bottom: 1rem;
			.featured-item-text {
					p {line-height: 1.2rem;	
						font-size: .8rem;}
			} 
		h3 {line-height: 1.5rem;}
		.media {
			.media-credit {
				font-family: $font-family-monospace; 
				font-size: .5rem; 
				color: $first-year-grey;
				text-align: right;
				position: relative;
				top: -.3rem;
				line-height:0;
			}
		}
	}
	

}
