/* Styles for issue pages only */

/* override First Year defaults here */

@import "settings";

/* import blog styles */

@import "blog";

/* override Foundation defaults here */

@import "foundation";

/* override Slick Carousel defaults */
$slick-dot-color: white;
$slick-dot-color-active: $info-color;
$slick-dot-size: 15px;
$slick-arrow-size: 35px;
$slick-font-path: "../fonts/";
$slick-loader-path: "../";
$slick-ajax-loader-gif-path: "../images/ajax-loader.gif"; // this will change!
@import "slick.scss";
@import "slick-theme.scss";

/* add other global settings here */
$hero-height: 27rem;


body {
}

#about-this-issue {
	.editor {
		//float:left; 
		//clear:right;
		//width: 33%;
		img {
			float:left; 
			max-width: 2.5rem;
			margin-right: 1rem;
			-moz-border-radius:5px;
			-webkit-border-radius:5px;
			border-radius:1.25rem;}
		.editor-name {}
		.editor-title {font-size: smaller;}
		span {display:block;}
	}
	.partners {
		//float:left; 
		//clear:right;
		//width: 33%;
		padding-top: 1rem;
	}
}



#blog-large {
		.blog-item {
		.blog-item-info {
			text-align: left;
			.author:before {content: " · ";}
			span {display:inline;}
		}
		.media {
			float:right;
			margin-left: 1rem;
			width: 50%;
			.media-item {width: 100%;}
			.media-credit {
				display:block;
				font-family: $font-family-monospace; 
				font-size: .5rem; 
				color: #ccc;
				text-align: right;
			}
		}
	}
}




//
// defaults
//

/* this overrides a URL hardcoded in the Slick Carousel Theme */
.slick-list {
    .slick-loading & {
        background: #fff slick-image-url($slick-ajax-loader-gif-path) center center no-repeat !important;
    }
}

.slick-prev, .slick-next {
  height: $slick-arrow-size;
  width: $slick-arrow-size;
  top: 50%;
  transform: translateY(-50%);
  margin: 0;
}
.slick-dots li {
  transform: translateX(-1em); // fix centering bug
}
.slick-prev:before, .slick-next:before {
  font-size: ($slick-arrow-size / 1.1);
}
.slick-prev {
  // left: -60px;
  left: -( $slick-arrow-size * 1.25 );
  right: auto;
}
.slick-next {
  right: -( $slick-arrow-size * 1.25 );
  left: auto;
}

// Hero Section
.hero {
  height: $hero-height;
  &:before {
    height: $hero-height;
  }
  .hero-title { // row
    #hero-title {  // column

    }
  }
  // Slick Carousel Slider
  .hero-slider-row {
    $panel-gutter: rem-calc(5px);
    color: $info-color;
    background-color: transparentize(#111, 0.3);
    min-height: 25%;
    max-height: 45%;
    #hero-slider {
      .slider-panel {
        background-color: transparentize(#111, 0.5);
        border-bottom: 5px solid $info-color;
        padding-left: 0;
        padding-right: 0;
        margin-left: $panel-gutter;
        margin-right: $panel-gutter;
        h2, p {
          color:darken($body-font-color, 99%);
        }
        h2 {
          position:absolute;
          line-height: 0.85rem;
          font-size: 0.75rem;
          margin-top: 0.5rem;
          padding: 0 0.25em;
          top: 0;
        }
        p {
          position:absolute;
          font-size: 0.75rem;
          top: 80%;
          right:0;
          padding-right: 0.25em;
        }
        &:before {
          background-color: transparentize(#FFF, 0.4);
          content: '';
          position:absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
        }
      }
      .slick-dots {
        margin-left: auto;
        margin-right: auto;
        padding-right: 0;
        padding-left: 0;
      }
    }
  }
}

// Main Content Section
#essays-row {
  div:first-child {
    border-bottom: none;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
  div {
    margin-bottom: 2rem;
    border-bottom: 4px solid grey; 
  }
  .columns {
    h2, h3, p {
    }
    h2 {}
    h3 { margin-bottom: 0;}
    p {
      margin-top: 0;
      margin-bottom: 1em;
    }
  }
}
//
// media queries
//

@media #{$small-up} {
  #featured-container {

  }
}


@media #{$small-up} {

}

@media #{$medium-up} {
  
}

@media #{$large-up} {

}

@media #{$small-only} {
  
}

@media #{$medium-only} {
  
}

@media #{$large-only} {
  
}

@media #{$xlarge-only} {
  
}