/* Styles for teaser page only */

/* override First Year defaults before importing _settings */

@import "settings";
@import "header";
@import "foundation";
$first-year-blue: #0c2b48;
$hero-height: 30rem;

$hide-menus: 'true';

//
// 1.0 Global styles
//
body {
  color: #333;
  font-family: 'Karla', Verdana, sans-serif;
  font-size: 22px;
  line-height: 32px;
  max-width: $row-width;
  margin: 0 auto;
  position:relative;
  z-index: 0;
}


//
// 2.0 Hero Section
//
$hero-height: 30rem;
@import "hero";

#hero-row h3 {
  font-size: 1rem;
  line-height: 1.75em;
  text-shadow: 1px 1px #000000;
}
#hero-row .hero .hero-title {
  position: absolute;
  top: 20%; 
  #hero-title {
    margin-top: 0 !important;     
  }
}
#hero-row .hero #videobutton {
  position: absolute;
  top: 60%;
  margin: 0 auto;
  width: 100%
}
#hero-row .hero #teasertext {
  position: absolute;
  bottom: 5%;
  max-width: 100% !important;
}


#innercontent {max-width: 650px; margin: 0 auto;}


.hero a {color: #fff;}
.hero a:visited {color: #fff;}

#about {
  color: #888;
  font-size: larger; 
  font-style: italic; 
  text-align: center;
  line-height: 1.5em;}


// $hero-z: $sidebar-z + 1; //
// .hero {
//   height: $hero-height;
//   top: -($topbar-height);
//   position: relative;
//   max-width: $row-width;
//   &:before {
//     content: '';
//     height: auto;
//     position: absolute;
//     top: 0; // watch out for topbar
//     right: 0;
//     bottom: 0;
//     left: 0;
//     // background-image: linear-gradient(to bottom right,#002f4b,#dc4225);
//     background-image: linear-gradient(to bottom right,#111,#444);
//     opacity: .55; // was .8 
//   }
//   /* this margin-bottom positions video within hero image */
//   // margin-bottom: -100px; 
  
// }


#container p {margin-top: 25px;} /*Pad any p that's loose in the container*/

a {color: #3d657d; }
a:hover {text-decoration: none;}
a:visited {color: #000;}
a.important {color: #ff7d34; font-weight: bold;}	/*formerly AB1A25*/
a.more {
  position:relative;
  z-index: 250 !important;
  font-size: 1rem;
  &:after {
    content: " ➤";
  }
} 

// .hero-title h1.main-title {
// 	font-family: 'Crimson Text', serif;
// 	font-size: 44px;
// 	line-height: 50px;
// 	margin-bottom: 0.5rem;}
		
/*h2 {font-family: Verdana, sans-serif; font-size: 50px; line-height: 60px;}	
h3 {font-family: Verdana, sans-serif; font-size: 40px; line-height: 50px;}	
h4 {font-family: Verdana, sans-serif; font-size: 34px; line-height: 40px;}	
h5 {font-family: Verdana, sans-serif; font-size: 26px; line-height: 30px;}	*/

div#videotrailer {
}
	
div#videotrailer iframe {	
	-webkit-box-shadow: 0px 0px 14px 1px #666;
	-moz-box-shadow: 0px 0px 14px 1px #666;
	box-shadow: 0px 0px 14px 1px #666;}

.intro-nav .columns span {
	  max-width: 100%;
	  width: 50%;
	  $gradient-opacity: 0.7;
	  $hover-opacity: 0.5;
	  border: 1px solid rgba(#eee, 0.3);
	  border-radius: 0px;
	  background: transparentize(#ddd, $hover-opacity) 25%;
	  &:hover, &:active {
		background: transparentize(#666, $hover-opacity) 25%;
	  }
	}

.intro-nav {margin-top: 200px;}

#hero-title, #learnabout, #teasertext, #videotrailer, #videobutton {
  z-index: $sidebar-z + 5 !important;
  p {
    font-size: 1rem;
  }
}

#learnabout a {display:block;}
#learnabout {
  z-index: 10 !important;
  span {
    position: relative;
    z-index: 101 !important;
    width: 100%;
    a {
      &:hover, &:active, &.is-active {
        cursor: pointer; 
      }
    }
  }
}

#teasertext {
  padding-bottom: .25rem; 
  padding-top: 1rem;
  p {
    text-align: center;
    padding: 0 1rem;
  }
}

#videobutton {
  margin-top: 1rem;
  margin-bottom: 1rem;
  #videoinvitation a {
    font-size: larger;
    text-transform: uppercase;
  }
}

.hero-title h2 {
    font-size: 1rem;
  }
  
#contribute {font-size: .8rem;}  

// resize icons
$social-icon-size: 60px;
$social-icon-pad: 10px;

div#socialshare {
  position: relative;
	ul {
    line-height: 60px;
    list-style: none;
    width: $social-icon-size;
    margin-left: 0;
    margin-right: 0;
  }
  li#header-fb-icon, li#header-tw-icon, li#email-icon, li.label {
    position:absolute;
    margin:0 auto;
    left: 0;
    min-width: 100%;
    a {
      width: 100%;
    }
  }
  li.label {
    background-color: $first-year-blue;
    font-size: 100%;
    font-family: Karla, Verdana, sans-serif;
  }
  $top-icon-vert: 15;
  li.label#share {
    top: 0;
  }
	li#header-fb-icon {
    top: #{$top-icon-vert}%;
		background: url('../images/icons/#{$social-icon-size}/facebook.png') no-repeat center center; display:block; margin-top: #{$social-icon-pad};
		}
	li#header-tw-icon {
    top: #{$top-icon-vert + 25}%;
		background: url('../images/icons/#{$social-icon-size}/twitter.png') no-repeat center center; display:block; margin-top: #{$social-icon-pad};
      }
    a {height: #{$social-icon-size}; width: #{$social-icon-size}; display:block;
  }
  li.label#signUp {
    top: #{$top-icon-vert + 50}%;
  }
  li#email-icon {
    top: #{$top-icon-vert + 65}%;
    background: url('../images/icons/#{$social-icon-size}/mail.png') no-repeat center center;
  }
}
#emailsignup, #socialshare {
	display:block; 
	padding: 15px 2%; 
	margin: 15px 4%; 
	height: 18rem !important; 
	float:left; 
	text-align: center; 
	border: 1px solid #ccc;}

#emailsignup {
  width: 61%;
  .explain {
    color: #333;
    font-weight: 100;
    font-size: 1rem;
  }  
}
#socialshare {
  width: 20%;
  .label {
    line-height: 1.5rem;
    font-size: 1.5rem;
  }
}

$donate-orange: #D76821;
$donate-orange-hover: scale-color($donate-orange, $lightness: 20%);
#emailsignup div#mailglyph {
  height: #{$social-icon-size};
  width: 8rem;
  padding-top: 5%;
  // background: url('../images/icons/#{$social-icon-size}/mail.png') no-repeat center center;
  margin: #{$social-icon-pad} auto;
  margin-bottom: 2rem !important;
  a {
    @include single-transition(background-color, $navigation-transition-time, ease-in);
    background-color: $donate-orange;
    &:hover {
      background-color: $donate-orange-hover;
    }
    line-height: 3rem;
    height: 3rem;
    text-transform: uppercase;
    font-weight: bolder;
    font-variant: italic;
    border: thin solid $donate-orange;
    border-radius: 6px;
    text-align: center;
    vertical-align: middle;
    min-width: 8rem;
    width: 8rem !important;
    vertical-align: middle;
    display: block;
    position: absolute;
    width: 8rem;
    color: #00335d;
    text-align: center;
    margin: 0 auto;
  }
}

#emailsignup div#mailglyph a {height: #{$social-icon-size}; width: #{$social-icon-size}; display:block;}
@media #{$medium-up} and (orientation: landscape)  {
  #emailsignup {
    line-height: 100% !important;
    .plea {
      line-height: 120%;
    }
  }
}
@media #{$small-only} {
  #emailsignup {
    line-height: 0.5rem;
    .plea, .explain {
      font-size: 0.7rem !important; 
      line-height: 0.8rem;
    }
    .explain a:first-child {
      display: none;
    }
  }
  #socialshare {
    .label {
      font-size: 80% !important;
      max-width: 100%;
    }
  }
  #teasertext {
    top: initial;
    bottom: 0 !important;
    p {
      padding-bottom: 0 !important;
      margin-bottom: 0 !important;  
    }
  }
  #videotrailer iframe {
    width: 100vw !important;
  }
}
@media #{$small-up} and (orientation: landscape) {
  #teasertext {
    top: initial;
    bottom: 0 !important;
    p {
      padding: 0 !important;
      margin-bottom: 0 !important;  
    }
  }
}
@media #{$small-only} and (orientation: portrait) {
  #emailsignup {
    background-color:inherit;
  }
}

@media #{$small-only} and (orientation: portrait) {
  #socialshare {
    .label {
      font-size: 70%;
      padding: 0;
    }
  }
}

@media #{$medium-only} {
  #emailsignup {
    line-height: 1.5rem;
    height: 1rem;
  }
}
#navigation-container h1 {color:#fff;}

footer#bodyFooter.footer {
  min-height: 150px; 
  background-color: $first-year-blue; 
  min-width: 100% !important;
  width: 100% !important;
}
footer {color: #ccc; font-size: smaller; clear:both;}
footer a, footer a:visited {color: #fff;}
footer img {margin: 1.5em; float:left;}
footer p {margin-top: 1.5em; margin-right: 1.5em; margin-left: 1em;}

@media #{$small-only} {
  .hero {
    z-index: $hero-z !important;
    #hero-title p {
      margin-top: 1.25rem;
      font-size: 0.75rem !important;
    }
  }  
  footer p {
    font-size: smaller;
  }
  footer .hide-for-medium-up img {
    max-width: 3rem;
  }
}
@media #{$small-up} {
  a.more {
    position:relative;
    z-index: 250 !important;
  }
  .hero * {
    z-index: $hero-z +1 !important;
  }
  .flex-video.widescreen {
    padding-bottom: 49% !important; // customization for our first issue vid
  }
}

@media #{$medium-up} {
  #videotrailer {
    iframe {
      margin: 0 auto;
    }
  }
  .flex-video.widescreen {
    padding-bottom: 50% !important; // customization for our first issue vid
  }
}

@media #{$large-up} {
  .flex-video.widescreen {
    padding-bottom: 53% !important; // customization for our first issue vid
  }
}

// this is to address situations where iphones aren't
// displaying pages across the full viewport width
@media screen and (max-width: 375px) and (orientation: portrait) {
  $iphone-6-max-w: 414;
  #navigation-container, .row#hero-row .small-12.columns.hero {
    // max-width: #{$iphone-6-max-w}px;
    // min-width: #{$iphone-6-max-w}px;
    // width: #{$iphone-6-max-w}px;
    // max-width: 375px !important;
    // min-width: 375px !important;
    // width: 375px !important;
  }
  .row#hero-row .small-12.columns.hero {
  }
  body, footer {
    // max-width: #{$iphone-6-max-w}px;
    // width: #{$iphone-6-max-w}px;
    // max-width: 100% !important;
    // width: 100% !important;
  }
  body > .row {
    // max-width: #{$iphone-6-max-w}px;
    // width: #{$iphone-6-max-w}px;
    // max-width: 100% !important;
    // width: 100% !important;
  }
} // end custom media query

//
// disable menus on this teaser page
//
@if $hide-menus == 'true' {
  .main-menu-section, #mobile-menu, .social-section {
    display: none !important;
  }
  @media #{$small-up} {

  }
  @media #{$medium-up} {
    .social-section {
      left: 50% !important;
    }
  }
  @media #{$large-up} {
    .social-section {
      left: -5% !important;
    }
  }
}
