/* Styles for teaser page only */
body {
  color: #333;
  font-family: 'Karla', Verdana, sans-serif;
  font-size: 22px;
  line-height: 32px;
  max-width: 1000px;
  margin: 0 auto;

}

#innercontent {max-width: 650px; margin: 0 auto;}


.hero a {color: #fff;}
.hero a:visited {color: #fff;}

#about {
  color: #888;
  font-size: larger; 
  font-style: italic; 
  text-align: center;
  line-height: 1.5em;}



.hero {
  // background: url('http://wallpoper.com/images/00/34/39/15/circuit-pcb_00343915.jpg') no-repeat center center;
  background: url('../images/heros/white-house.jpg') no-repeat center center;
  background-size: cover;
  height: auto;
  position: relative;
  &:before {
    content: '';
    height: auto;
    position: absolute;
    top: 0; // watch out for topbar
    right: 0;
    bottom: 0;
    left: 0;
    // background-image: linear-gradient(to bottom right,#002f4b,#dc4225);
    background-image: linear-gradient(to bottom right,#111,#444);
    opacity: .55; // was .8 
  }
  margin-bottom: -100px;
  
}


#container p {margin-top: 25px;} /*Pad any p that's loose in the container*/

a {color: #3d657d; }
a:hover {text-decoration: none;}
a:visited {color: #000;}
a.important {color: #ff7d34; font-weight: bold;}	/*formerly AB1A25*/
a.more:after {content: " ➤";}

.hero-title h1.main-title {
	font-family: 'Crimson Text', serif;
	font-size: 44px;
	line-height: 50px;
	margin-bottom: -10px;}
		
/*h2 {font-family: Verdana, sans-serif; font-size: 50px; line-height: 60px;}	
h3 {font-family: Verdana, sans-serif; font-size: 40px; line-height: 50px;}	
h4 {font-family: Verdana, sans-serif; font-size: 34px; line-height: 40px;}	
h5 {font-family: Verdana, sans-serif; font-size: 26px; line-height: 30px;}	*/

div#videotrailer {
	width: 480px; 
	height: 320px; // 320
	margin: 0 auto 0 auto;
}
	
div#videotrailer iframe {	
	-webkit-box-shadow: 0px 0px 14px 1px #666;
	-moz-box-shadow: 0px 0px 14px 1px #666;
	box-shadow: 0px 0px 14px 1px #666;}

.intro-nav .columns span {
	  max-width: 100%;
	  width: 50%;
	  $gradient-opacity: 0.7;
	  $hover-opacity: 0.5;
	  border: 1px solid rgba(#eee, 0.3);
	  border-radius: 0px;
	  background: transparentize(#ddd, $hover-opacity) 25%;
	  &:hover, &:active {
		background: transparentize(#666, $hover-opacity) 25%;
	  }
	}

.intro-nav {margin-top: 200px;}

#hero-title, 
#learnabout,
#teasertext,
#videotrailer {z-index: 5;}

#learnabout a {display:block;}

#teasertext p, #hero-title p {font-size: .8rem;}

#teasertext {padding-bottom: .25rem; padding-top: 1rem;}

.hero-title h2 {
    font-size: 1rem;
  }
  
#contribute {font-size: .8rem;}  

// resize icons
$social-icon-size: 60px;
$social-icon-pad: 10px;

div#socialshare {
	ul {line-height: 60px; width: #{$social-icon-size}}
	li#header-fb-icon {
		background: url('../images/icons/#{$social-icon-size}/facebook.png') no-repeat center center; display:block; margin-top: #{$social-icon-pad};
		}
	li#header-tw-icon {
		background: url('../images/icons/#{$social-icon-size}/twitter.png') no-repeat center center; display:block; margin-top: #{$social-icon-pad};
      }
    a {height: #{$social-icon-size}; width: #{$social-icon-size}; display:block;}
}

#emailsignup, #socialshare {
	display:block; 
	padding: 15px 2%; 
	margin: 15px 4%; 
	height: 200px; 
	float:left; 
	text-align: center; 
	border: 1px solid #ccc;}

#emailsignup {width: 61%;}
#socialshare {width: 20%}

#emailsignup div#mailglyph {height: #{$social-icon-size}; width: #{$social-icon-size}; background: url('../images/icons/#{$social-icon-size}/mail.png') no-repeat center center; margin: #{$social-icon-pad} auto;}
#emailsignup div#mailglyph a {height: #{$social-icon-size}; width: #{$social-icon-size}; display:block;}

#navigation-container h1 {color:#fff;}

footer#bodyFooter.footer {min-height: 150px; background-color: #444; }
footer {color: #ccc; font-size: smaller; clear:both;}
footer a, footer a:visited {color: #fff;}
footer img {margin: 1.5em; float:left;}
footer p {margin-top: 1.5em; margin-right: 1.5em;}