footer.footer#bodyFooter
  .row.footerTeaser
    .small-12.medium-6.columns
      ul
        li: a(href="#") The First Year Project&nbsp;
        li: a(href="about") About the Project
        li: a(href="about#advisory") Advisory Council
        li: a(href="about#scholars") Scholars
        li: a(href="get-involved") Get Involved
        li: a(href="about#contact") Contact
    .small-12.medium-6.columns
      ul
        li: a(href="issue/first-year") Issue 1: The First Year 
        li 
          em Issue 2: National Security (coming January '16)
        li 
          em Issue 3 (coming March '16)
      ul.inline-list.hide-for-print#social-options 
        li.label.hide-for-print Follow
        <!--very unclear where these will point at launch time. may comment them out for initial launch. -->
        li.social-option.hide-for-print.social-email-icon: a(href="#",title="Email Us") &nbsp;
        li.social-option.hide-for-print.social-fb-icon: a(href="#",title="Contact #{title} on Facebook") &nbsp;
        li.social-option.hide-for-print.social-tw-icon: a(href="#",title="Send #{title} a message on Twitter") &nbsp;


  .row.footerNav.hide-for-print
    .small-12.large-6.large-offset-6.columns.get-involved
      a(href="http://forms.hoosonline.virginia.edu/s/1535/16-uva/index.aspx?sid=1535&gid=16&pgid=9982&cid=17637" target="_blank") 
        button Join our email list for exclusive alerts. Sign up&nbsp;&gt;
  .row.footerLogo
    .hide-for-small.medium-2.columns
      a.hide-for-print(href="http://millercenter.org")
        img.hide-for-print(src="http://staticmc.org/images/template/logo-white.png")
    .small-12.medium-10.columns
      .hide-for-medium-up
        a(href="http://millercenter.org")
          img(src="http://staticmc.org/images/template/logo-white.png")
      p The Miller Center is a nonpartisan affiliate of the University of Virginia that specializes in presidential scholarship, public policy, and political history and strives to apply the lessons of history to the nation’s most pressing contemporary governance challenges. 
        a(href="http://millercenter.org") Learn more at millercenter.org.
  .row.copyright
    p Copyright 2015 Rector and Visitors of the University of Virginia