- var organization="The First Year Project"
// Header (Topbar): Navigation Menu, Logo and Sharing Options
.fixed#navigation-container
  nav.top-bar(data-topbar,role="navigation",data-options="sticky_on: large")
    section.logo-section.show-for-medium-up
      a(href="#") 
        img(src="../images/logos/sm/fy2017_logo.png",data-interchange="[../images/logos/sm/fy2017_logo.png, (default)], [../images/logos/md/fy2017_logo.png, (medium)], [../images/logos/lg/fy2017_logo.png, (large)]")

    ul.title-area
      li.name
        h1
          a.logo.show-for-small-only(href="#")
            img(src="../images/logos/sm/fy2017_logo.png")
      li.toggle-topbar.menu-icon#mobile-menu
        a(href="#")
          span Menu 


    section.top-bar-section.main-menu-section#navigation-section
      //  Right Nav Section 
      ul.right
        li.hide-for-medium-up
          a(href="about") About the Project
        li.hide-for-medium-up
          a(href="issue/why-the-first-year") Issue 1: The First Year
        li.hide-for-medium-up <!--.active class was applied here--I like it but want to apply globally. UntilI figure that out, commenting it out. -->
          a(href="get-involved") Get Involved
        li.menu-option.hide-for-small-only.has-dropdown#header-menu-icon
          a(href="#")
            span.label Menu
              span
          ul.dropdown
            li
              li
                  a(href="issue/why-the-first-year") Issue 1: The First Year
              li
                  span Issue 2: Coming Jan '16
            li
              a(href="about") About the Project
              ul 
                li 
                  a(href="about#contact") Contact Us
                li 
                  a(href="about#advisory") Advisory Council
                li 
                  a(href="about#scholars") Scholars
            li <!--active class was applied here--I like it but want to apply globally. UntilI figure that out, commenting it out. -->
              a(href="get-involved") Get Involved


    section.social-section.show-for-medium-up
      ul.right
        li.label Follow
        li.social-icon#header-fb-icon: a(href="#",title="Visit #{organization} on Facebook")
          | &nbsp;
          //- img(src="images/icons/lg/facebook-wht.png")
        li.social-icon#header-tw-icon: a(href="#",title="Follow #{organization} on Twitter") 
          | &nbsp;
 