aside#share-bar.sharing-options.right
  ul.no-bullet
    li.label Share
    li: a(href="#",title="share on Facebook")
      div.sharing-item
        img(data-interchange="[../images/icons/45px/facebook.png, (default)], [../images/icons/55px/facebook.png, (large)]")
        noscript: img(src="../images/icons/md/facebook.png")
    li: a(href="#",title="share on Twitter")
      div.sharing-item
        img(data-interchange="[../images/icons/45px/twitter.png, (default)], [../images/icons/55px/twitter.png, (large)]")
        noscript: img(src="../images/icons/md/twitter.png")
    li: a(href="#",title="share on LinkedIn")
      div.sharing-item
        img(data-interchange="[../images/icons/45px/linkedin.png, (default)], [../images/icons/55px/linkedin.png, (large)]")
        noscript: img(src="../images/icons/md/linkedin.png")
    li: a(href="#",title="share via Email")
      div.sharing-item
        img(data-interchange="[../images/icons/45px/mail.png, (default)], [../images/icons/55px/mail.png, (large)]")
        noscript: img(src="../images/icons/md/mail.png")
