@import "settings";
@import "foundation/components/grid";
@import "utils";

// default
$author-last-name: "gallagher";
$filename: "hero-#{$author-last-name}.jpg";
.hero {
  background: url('../../../images/heros/#{$filename}') ;

}

@media #{$small-only} {
  background: url('../../../images/heros/sm/#{$filename}') ;
  
}

@media #{$medium-only} {
  background: url('../../../images/heros/md/#{$filename}') ;
  
}

@media #{$large-only} {
  background: url('../../../images/heros/lg/#{$filename}') ;
  
}
// add print styling for a hero image
@include build-img-for-print($filename);