@import "settings";
@import "foundation/components/grid";

// default
$filename: "white-house.jpg";
.hero {
  background: url('../../images/heros/#{$filename}') no-repeat center center;

}

@media #{$small-only} {
  background: url('../../images/heros/sm/#{$filename}') no-repeat center center;
  
}

@media #{$medium-only} {
  background: url('../../images/heros/md/#{$filename}') no-repeat center center;
  
}

@media #{$large-only} {
  background: url('../../images/heros/lg/#{$filename}') no-repeat center center;
  
}